


.wrapper{
    
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
     
    
}
ul{
    list-style-type: none;
}

.image_wrapper{
    border: solid rgb(53, 9, 228);
    padding-right: 15px;
    padding: 5px;
    margin: 5px;
    padding-top: 15px;
    
 
}

.second_Wrapper{
    border: solid red;
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
    margin-right: 25px;
     background-color: rgb(223, 223, 148);
    

}

